@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-light-white: #fff;
  --color-light-grey: #e2e8f0;
  --color-light-grey-text: #726e7c;
  --color-light-grey-title: #1a202c;
  --color-light-black: #363145;
  --color-light-purple: #8a67c8;
  --color-light-purple-hover: #6734ba;
  --color-light-purple-shadow: rgb(126 87 194 / 20%);

  --margin-general: 3rem;

  --struct-size-header-min-height: 4rem;
  --struct-size-footer-min-height: 4rem;
}

html {
  font-family: "Rubik", sans-serif;
  background: var(--color-light-grey);
  color: var(--color-light-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
a,
div,
span {
  font-family: "Rubik", sans-serif;
  color: var(--color-light-grey-text);
  font-size: 1rem;
  line-height: 1.5rem;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

.App {
  min-height: calc(100vh);
  position: relative;
}
