.SectionSelectCar {
  min-height: calc(
    100vh - var(--struct-size-footer-min-height) -
      var(--struct-size-header-min-height)
  );
  padding: var(--margin-general);
}

section h2 {
  color: var(--color-light-grey-title);
}

section ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  padding: 0;
}
section ul li {
  list-style: none;
  flex: 0;
  margin: 1rem 0 0 0;
}

@media only screen and (max-width: 768px) {
  section,
  section ul,
  section ul li {
    flex-basis: 1;
    min-width: 100%;
  }
}
