.ExpandedSelect {
  display: flex;
  flex-direction: column;
  border: 0px solid var(--color-light-grey);
  border-radius: 0.5rem;
  box-shadow: var(--color-light-purple-shadow) 0px 1px 8px 0px;
  background: var(--color-light-purple-shadow);
}
.ExpandedSelect div {
  flex: 1;
}
.ExpandedSelect button {
  width: 100%;
  text-align: left;
  border: 0px solid var(--color-light-grey);
  border-radius: 0.5rem;
  background: transparent;
}
.ExpandedSelect button:hover, .ExpandedSelect button.active {
  background: var(--color-light-purple);
  cursor: pointer;
}
.ExpandedSelect button:hover span, .ExpandedSelect button.active span {
  color: var(--color-light-white);
}